alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'
alias c='clear'
alias d='cd /Users/$USER/Desktop/'
alias h='cd /Users/$USER'
alias dac='conda deactivate'
alias gs='git status'
alias mv="mv -i"
alias alert='osascript -e "display notification \"$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')" with title \"Command Completed\" sound name \"Glass\""'
alias time='Time'
